 
    
    <nav class="sidenav  navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
      <div class="scroll-wrapper scrollbar-inner" style="position: relative;"><div class="scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 655px;">
        <!-- Brand -->
        <div class="sidenav-header   d-flex  align-items-center">
          <a class="navbar-brand" >
            <h1 class="navbar-brand-img text-black">ARABE SOFT</h1>
          </a>
          <div class=" ml-auto">
                <h1 class=" text-white">ARABE SOFT</h1>

         
          </div>
        </div>
        <div class="navbar-inner ">
          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Nav items -->
            <ul class="navbar-nav">
              <li class="nav-item let ">
                <a class="nav-link hob   text-black" routerLink="/dashbored"  role="button"    >
                  <i class="ni ni-shop text-primary"  style="font-size: 1em;"></i>
                  <span class="pa" >Dashboards</span>
                </a>
               
              </li>
            
              <li class="nav-item let">
                <a class="nav-link  hob text-black" routerLink="/dashbored/listemployer"  role="button"    >
                  <i class="ni ni-bullet-list-67"  style="font-size: 1em;"></i>      
                            <span class="pa" >List Employes</span>
                </a>
               
              </li>
              <li class="nav-item let">
                <a class="nav-link hob  text-black"  routerLink="/dashbored/sendmail"  role="button"    >
                  <i class="ni ni-email-83 text-green" style="font-size: 1em;"></i> 
                     <span class="pa"> Send Mailing</span>
                </a>
               
              </li>
              <li class="nav-item let">
                <a class="nav-link hob  text-black"  routerLink="/dashbored/mailing"  role="button"    >
                  <i class="ni ni-email-83 text-green" style="font-size: 1em;"></i> 
                     <span class="pa">Mailing</span>
                </a>
               
              </li>
              <li class="nav-item let">
                <a class="nav-link hob  text-black " routerLink="/dashbored/sms"  role="button"    >
                  <i class="ni ni-mobile-button text-blue"  style="font-size: 1em;"></i>
                  <span class="pa">Sms</span>
                </a>
               
              </li>
              <li class="nav-item let">
                <a class="nav-link hob  text-black " routerLink="/dashbored/maps"  role="button"    >
                  <i class="ni ni-pin-3 text-green"  style="font-size: 1em;"></i>        
                          <span class="pa">Maps</span>
                </a>
               
              </li>
              <li class="nav-item let">
                <a class="nav-link hob  text-black "  routerLink="/dashbored/notification" role="button"    >
                  <i class="ni ni-bell-55 text-red"   style="font-size: 1em;"></i>   
                               <span class="pa">Notifications</span>
                </a>
               
              </li>
         
              <li class="nav-item   let  ">
                <a class="nav-link hob text-black " routerLink="/dashbored/profile"  role="button"    >
                  <i class="ni ni-circle-08 "  style="font-size: 1em;"></i>       
                           <span class="pa">User Profile</span>
                </a>
               
              </li>
        
            </ul>
         
          
          </div>
        </div>
      </div><div class="scroll-element scroll-x scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 0px; left: 0px;"></div></div></div><div class="scroll-element scroll-y scroll-scrolly_visible"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 502px; top: 0px;"></div></div></div></div>
    </nav>
    <!-- Main content -->
    <div class="main-content" id="panel">
      <!-- Topnav -->
      <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Search form -->
            <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
              <div class="form-group mb-0">
                <div class="input-group input-group-alternative input-group-merge">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                  <input class="form-control" placeholder="Search" type="text">
                </div>
              </div>
              <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </form>
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center  ml-md-auto ">
              <li class="nav-item d-xl-none">
                <!-- Sidenav toggler -->
              
              </li>
              <li class="nav-item d-sm-none">
                <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                  <i class="ni ni-zoom-split-in"></i>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ni ni-bell-55"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
                  <!-- Dropdown header -->
                  <div class="px-3 py-3">
                    <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">13</strong> notifications.</h6>
                  </div>
                  <!-- List group -->
                  <div class="list-group list-group-flush">
                    <a href="#!" class="list-group-item list-group-item-action">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <!-- Avatar -->
                          <img alt="Image placeholder" src="../../assets/img/theme/team-1.jpg" class="avatar rounded-circle">
                        </div>
                        <div class="col ml--2">
                          <div class="d-flex justify-content-between align-items-center">
                            <div>
                              <h4 class="mb-0 text-sm">John Snow</h4>
                            </div>
                            <div class="text-right text-muted">
                              <small>2 hrs ago</small>
                            </div>
                          </div>
                          <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                        </div>
                      </div>
                    </a>
                    
                    
                    
                   
                  </div>
                  <!-- View all -->
                  <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="ni ni-ungroup"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default  dropdown-menu-right ">
                  <div class="row shortcuts px-4">
                    <a href="#!" class="col-4 shortcut-item">
                      <span class="shortcut-media avatar rounded-circle bg-gradient-red">
                        <i class="ni ni-calendar-grid-58"></i>
                      </span>
                      <small>Calendar</small>
                    </a>
                    <a href="#!" class="col-4 shortcut-item">
                      <span class="shortcut-media avatar rounded-circle bg-gradient-orange">
                        <i class="ni ni-email-83"></i>
                      </span>
                      <small>Email</small>
                    </a>
                    <a href="#!" class="col-4 shortcut-item">
                      <span class="shortcut-media avatar rounded-circle bg-gradient-info">
                        <i class="ni ni-credit-card"></i>
                      </span>
                      <small>Payments</small>
                    </a>
                 
                 
                
                  </div>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
              <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle">
                      <img alt="Image placeholder" src="../../assets/img/theme/team-4.jpg">
                    </span>
                    <div class="media-body  ml-2  d-none d-lg-block">
                      <span class="mb-0 text-sm  font-weight-bold">John Snow</span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu  dropdown-menu-right ">
                  <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Welcome!</h6>
                  </div>
                  <a routerLink="/"class="dropdown-item">
                    <i class="ni ni-single-02"></i>
                    <span>My profile</span>
                  </a>
               
                  <div class="dropdown-divider"></div>
                  <a href="#!" class="dropdown-item">
                    <i class="ni ni-user-run"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Header -->
      <!-- Header -->
     
      <!-- Page content -->
      
    </div>
     
   
 
 